@import url('https://fonts.googleapis.com/css2?family=Poppins&display= swap');

html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left-title{
    font-family: 'Poppins', sans-serif;
    color: #296eff;
}

.custom-font{
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: #296eff;
}

.borders{
    border: 1px solid #e7e7e7;
    /* border-radius: 18px; */
}

.full-height{
    height: 100vh;
}

.profile {
    width: 40px;
    height: 40px;
}

.chat-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto; 
    background-color: #f8f8f8;
}

.chat-area::-webkit-scrollbar {
    display: none;
}

.contact-list{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto; 
}

.contact-list::-webkit-scrollbar {
    display: none;
}

.outerlayer{
    max-width: 80%;
}

.layer-2-right{
    background-color: #296eff;
    border-radius: 10px 0px 10px 10px;
}

.layer-2-left{
    background-color: #296eff;
    border-radius: 0px 10px 10px 10px;
}