@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
    overflow: hidden;
    background-image: linear-gradient(to right top, #051937, #002366, #002a95, #0029c2, #4d12eb);
    /* background-color: antiquewhite; */
}

.custom-font{
    font-family: 'Poppins', sans-serif;
}

.custom-color{
    background-color: #1e66ff;
}

.error-box{
    background-color: white;
    border-radius: 6px;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 240px;
    height: 60px;
}